.header{

  .topbar {
    background-color: $dark-gray;
    margin: 0 !important;
    max-width: 100%;

    .topmenu {

      li {

        a {
          color: $label-color;
        }
      }
    }
  }

  .navbar-logo {
    margin-top: 30px;

    .logo {
      font-family: 'Ubuntu', sans-serif;
      text-transform: uppercase;
      font-size: 2rem;
    }

    .navigation {

    }

    .search {

    }
  }
}
